@import "_variables";
@import "_mixins";
@import "_figures";

body{
  font-family: "Helvetica";
  text-align: center;
  //padding: 50px 20px 0;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 10vh;
  z-index: 2;
}
.name {
  color: #8B5B97;
  font-size: 14vh;
  font-family: $gochi;
}
.sub-name {
  margin-top: -2vh;
  color: #8B5B97;
  font-size: 4vh;
  font-family: $source;
}
.icon-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}
.font-icon {
  font-size: 4vh;
  padding-right: 1vh;
  padding-left: 1vh;
  color: rgba(#8b5b96, 0.44);
  @include transition(color 0.25s);
  &:hover {
    color: #8B5B97;
  }
}
.img-fitter {
  width: 100%;
  height: auto;
}

.full-container {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  @include bg-gradient-t2b(#250048, #B35B97);
}
.b {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 105vw, 100vh;
  @include transition(background-position-x 1.2s);
  z-index: 1;
}
.b1 {
  @extend .b;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  width: auto;
  @include transition(left 1.2s);
}
.b-item {
  display: flex;
  width: 100vw;
}
.b2 {
  @extend .b;
  background-image: url(../images/b2.png);
}
.b3 {
  @extend .b;
  background-image: url(../images/b3.png);
}
.b4 {
  @extend .b;
  background-image: url(../images/b4.png);
}
.b5 {
  @extend .b;
  background-image: url(../images/b5.png);
}
.b6 {
  @extend .b;
  background-image: url(../images/b6.png);
}

.arrow-rigth {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  right: 0;
  background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(125,222,255,0.1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(125,222,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(125,222,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#337ddeff',GradientType=1 ); /* IE6-9 */
  z-index: 3;
  @include transition(width 0.25s);
}
.arrow-left {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(left, rgba(125,222,255,0.1) 0%, rgba(30,87,153,0) 99%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(125,222,255,0.1) 0%,rgba(30,87,153,0) 99%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(125,222,255,0.1) 0%,rgba(30,87,153,0) 99%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337ddeff', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 */
  z-index: 3;
  @include transition(width 0.25s);
}
.r-arrow {
  display: flex;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3vh 0 3vh 3vh;
  border-color: transparent transparent transparent rgba(#b28cde, 0.2);
}
.l-arrow {
  display: flex;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3vh 3vh 3vh 0;
  border-color: transparent rgba(#b28cde, 0.2) transparent transparent;
}
