.blog
  .blog-container
    .blog-title Encuentra el Bloque
    .blog-field 
      p A browser game made with NodeJS and Socket.io for a dynamic in a class.
      p Well, the objective is to find the correct block inside the university just with the clue given and within the less possible time. 
      p How to play: One person with a videobeam open the game and create a room, the other people in their cellphones or other devices open the game and join the room. After that, the person in charge (videobeam one) click on "Question" and it shows up a clue and a timer begin, in that time, in the device of the players, shows up a map that they can click for try to answer. If the answer is correct, then that player earn some points in function of the time and the players name is shown in screen (the videbeam one) with a bar graph, also, all the other players that answer correctly will have a space in that graph. 
      for image in public.images.bloque._contents
        img.blog-img(src="../images/bloque/#{ image }")
      
