.blog
  .blog-container
    .blog-title Bomberline
    .blog-field 
      p This was a project for Communications II, my partner made the bomberman clone and I made the external server backend for the game.
      p The game is a normal bomberman, but with rooms, so, another player could connect and try to explode the other player, that connections were done via sockets with Socket.io...
      p Theoretically the game works (fine?) ... but doesn't have a lerp or something between the player movements, that means, that the server would have extreme load because the players communication it's A LOT PER SECOND. Ah, and if the browser is minimized the syncrhonization stops too.
