.blog
  .blog-container
    .blog-title Estudiar Sin Distraerse
    .blog-field 
      p This is a game where the player needs to study (collect objectives) without being "distracted" (killed!) by social media ghosts, when the player is being hit the screen shows some notifications and some noise, plus the sound changes to something more disturbing, after collecting an objective the player get a nice study advice :)
      p And ... screenshots!
      for image in public.images.distraer._contents
        img.blog-img(src="../images/distraer/#{ image }")
      
