.blog
  .blog-container
    .blog-title Neon Race
    .blog-field 
      p This was a game for Mobile Computing (No idea if that's how it's translated) that I made with three friends, and it's a racing game in a futuristic way with a really cool gravity, made in Unity 4. Also, it was meant to work in LAN... it works, but with some lag, so, for the project it was ok, but still not for the public.
      
      iframe(width='560', height='315', src='https://www.youtube.com/embed/S07JZqxWfws', frameborder='0', allowfullscreen='allowfullscreen')
      
      p A problem that I have back then, was the mesh optimization, I didn't know how many polygons the race track could have, so, "lowest is better" ... the problem is that at that high speed the "car" do some "jumps" and, yeah, doesn't look good.
