.blog
  .blog-container
    .blog-title Palabrejas: La Leyenda
    .blog-field 
      p A game for the Universidad de Antioquia ... and it really took a while to develop. It's a game that have a combat system with a complete the pattern mechanic, five maps, and when the player opens a chest, a challenge with a proverb or a "saying" is shown, if the player answer correctly, then the player can claim the items inside that chest.
      p Here, some screenshots ...
      for image in public.images.palabrejas._contents
        img.blog-img(src="../images/palabrejas/#{ image }")
      
