.blog
  .blog-container
    .blog-title Tierra de Sabios
    .blog-field 
      p Game for the Universidad de Antioquia, it's a question and answer game, with three game modes, multiple answer, true or false and test type question. I was in charge mostly of the game graphics and the UI, also made the true or false mode and some other code that can't recall
      for image in public.images.trivia._contents
        img.blog-img(src="../images/trivia/#{ image }")
      
