doctype
html
  head
    title #{title}
    link(rel="stylesheet" href="/css/main.css")
    meta(name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no")

  body
    != yield
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/js/anime.min.js")
    script(src="/js/main.js")
    script(src="/js/fx.js")
